n8n-workflow.json
{
  "name": "PepsiCo Supply Chain Coordination",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pepsico-routing",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b9e5591e-febf-4119-8b11-28a437efca4f",
      "name": "Webhook",
      "webhookId": "330aae90-c267-4389-ae69-6043b7d1c0ee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Connect to Logistics MCP Client Tool: execute_route – the payload is: \n{\n  \"route_id\": \"{{ $json.body.route_id }}\",\n  \"truck_id\": \"{{ $json.body.truck_id }}\",\n  \"chosen_option\": {\n    \"option_id\": \"{{ $json.body.chosen_option.option_id }}\",\n    \"route_number\": {{ $json.body.chosen_option.route_number }},\n    \"distance_miles\": {{ $json.body.chosen_option.distance_miles }},\n    \"eta_minutes\": {{ $json.body.chosen_option.eta_minutes }}\n  }\n}\n\nConnect to Retail MCP Client Tool: notify_delivery_delay – the payload is: {\n  \"route_id\": \"{{ $json.body.route_id }}\",\n  \"truck_id\": \"{{ $json.body.truck_id }}\",\n  \"chosen_option\": {\n    \"option_id\": \"{{ $json.body.chosen_option.option_id }}\",\n    \"route_number\": {{ $json.body.chosen_option.route_number }},\n    \"distance_miles\": {{ $json.body.chosen_option.distance_miles }},\n    \"eta_minutes\": {{ $json.body.chosen_option.eta_minutes }}\n  }\n}\n\nConnect to ServiceNow MCP Client Tool: update_execution_status – the payload is: {\n  \"route_id\": {{ $json.body.route_id }},\n  \"status\": dispatched\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "4f27f8bd-4388-458b-9e43-8bcbb3d8378c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8000/mcp",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "update_execution_status"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        400,
        336
      ],
      "id": "788ff4c5-3718-4acd-a3f3-703ffe981470",
      "name": "ServiceNow MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "AhgzHfdYtdCItcWU",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8002/mcp ",
        "include": "selected",
        "includeTools": [
          "notify_delivery_delay"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        496,
        240
      ],
      "id": "2650ccdd-1be3-41a8-b83e-33c490039724",
      "name": "Retail MCP Client"
    },
    {
      "parameters": {
        "endpointUrl": "http://34.197.44.143:8001/mcp",
        "include": "selected",
        "includeTools": [
          "execute_route"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        560,
        96
      ],
      "id": "58493671-16c9-4bf8-8bd1-a8c461a128a8",
      "name": "Logistics MCP Client",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "openai.gpt-oss-120b-1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "2587572e-bd2b-4c1b-b0c1-5a85b08c3edd",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "JPBHOgVFDdNUxMUM",
          "name": "AWS account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "ServiceNow MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retail MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Logistics MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "91c6b608-cf1f-4d30-b9ea-4fc3629f2a97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "938127542ac9bdcb83fc8532fbadf75efef2b5a3239a1f44170b0b9a77511b4a"
  },
  "id": "vuJiUACRyJhvWLYL",
  "tags": []
}